
.login{
    display: flex;
    background-color: #333;
    align-items: center;
    margin: 200px auto;
    max-width: 230px;
    padding: 20px 40px;
    justify-content: center;
    border-radius: 10px;
    color: #fff;
}

form{
    display: flex; /* add this line */
    flex-direction: column; /* add this line */
    align-items: center;
    text-align: center;
    font-size: large;
    justify-content: space-around;
}

.btn{
    border-radius: 10px;
    font-size: 40px;
    padding: 10px 20px; /* add this line */
}
