body {
    background-color: rgb(169, 145, 184);
}

header {
    margin: 20px;
    margin-right: 50px;
    display: flex;
    background: transparent;
    color: black;
    justify-content: space-between;
}

.content ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.content ul li a {
    color: black;
    text-decoration: none;
    font-size: large;
}

.main {
    margin-left: 100px;
    margin-right: 100px;
    background: transparent;
    color: black;
    display: flex;
}

.main_img img {
    height: 380px;
}

.logo a img {
    margin-top: 7px;
    height: 100px;
}

.btn {
    margin-top: 13px;
}

.btn1 {
    background: none;
    color: black;
    border: groove black 1px;
    height: 30px;
    width: 70px;
}

.btn2 {
    background-color: rgb(45, 115, 255);
    color: rgb(255, 255, 255);
    border: groove black 1px;
    height: 30px;
    width: 70px;
}

.btn3 {
    background-color: rgb(45, 115, 255);
    color: rgb(255, 255, 255);
    border: groove black 1px;
    border-radius: 3px;
    height: 50px;
    width: 140px;
}

.para {
    margin-right: 150px;
    margin-top: 40px;
    text-align: justify;
}

.para h1 {
    font-size: xx-large;
}
